tmp*
*~
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.gz
*.bz2
*.pyc
CMakeCache.txt
CMakeFiles
.eggs
build
dist
dpdata.egg-info
_version.py
!tests/cp2k/aimd/cp2k.log
!tests/cp2k/restart_aimd/ch4.log
__pycache__
docs/_build
docs/formats.csv
docs/api/
