# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    # there are many log files in tests
    # TODO: seperate py files and log files
    -   id: trailing-whitespace
        exclude: "^tests/.*$"
    -   id: end-of-file-fixer
        exclude: "^tests/.*$"
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
    -   id: mixed-line-ending
        args: ["--fix=lf"]
# Python
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.2
    hooks:
    - id: ruff
      args: ["--fix"]
      types_or: [python, pyi, jupyter]
    - id: ruff-format
      types_or: [python, pyi, jupyter]
# numpydoc
-   repo: https://github.com/Carreau/velin
    rev: 0.0.12
    hooks:
    - id: velin
      args: ["--write"]
# Python inside docs
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
ci:
  autoupdate_branch: devel
