# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    # there are many log files in tests
    # TODO: seperate py files and log files
    -   id: trailing-whitespace
        exclude: "^tests/.*$"
    -   id: end-of-file-fixer
        exclude: "^tests/.*$"
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
# Python
-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black-jupyter
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: v0.0.263
    hooks:
    - id: ruff
      args: ["--fix"]
# numpydoc
-   repo: https://github.com/Carreau/velin
    rev: 0.0.12
    hooks:
    - id: velin
      args: ["--write"]
# Python inside docs
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
    -   id: blacken-docs
ci:
  autoupdate_branch: devel
