name: Python package

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - run: curl -LsSf https://astral.sh/uv/install.sh | sh
    - name: Install dependencies
      run: uv pip install --system .[amber,ase,pymatgen,benchmark] rdkit openbabel-wheel
    - name: Run benchmarks
      uses: CodSpeedHQ/action@v2
      with:
        token: ${{ secrets.CODSPEED_TOKEN }}
        run: pytest benchmark/ --codspeed
